/*-------------------------------------------------------------
Template Name: support template
Template URL: 
Author Name: SoftTech IT
Author URL: 
Version: 1.0
Description: 
Tags: support
Text Domain: support template
-------------------------------------------------------------*/
/*------------------------------------------------------------- 
TABLE OF CONTENTS: 
---------------------------------------------------------------
>> Author CSS
>> Navbar
>> Header Section
>> Footer Section
>> Breadcrumb Section
>> Preloader
>> Button 
>> Form
>> Theme
>> Homepage 1
>> Faq Page
>> Register Page
>> Ticket Page
>> Contact Page
>> Ticket Reply
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --blue : #0c63e7;
}
/* Author CSS */
body {
  margin: 0;
  color: #1a1a1a;
  font-family: "Roboto", sans-serif; }

h1 {
  color: #2b2e35;
  font-size: 60px; }

h2 {
  color: #2b2e35;
  font-size: 48px; }

h3 {
  color: #2b2e35;
  font-size: 30px; }

h4 {
  color: #2b2e35;
  font-size: 24px; }

h5 {
  color: #2b2e35;
  font-size: 18px; }

h6 {
  color: var(--blue);
  font-size: 14px;
  margin-bottom: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 0; }

p {
  color: #1a1a1a;
  margin-bottom: 10px; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a:hover,
a:focus {
  text-decoration: none;
  outline: none; }

input:focus,
textarea:focus,
select:focus,
button:focus,
.slick-slide {
  outline: none; }

button {
  cursor: pointer; }

img {
  width: 100%;
  height: auto;
  display: block; }

/* Navbar */
nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  nav .main-menu li {
    display: inline-block;
    position: relative;
    margin-right: 42px;
    line-height: 1.7;
    z-index: 5; }
    nav .main-menu li:last-child {
      margin-right: 0; }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      nav .main-menu li {
        margin-right: 14px; } }
    nav .main-menu li.current a::before {
      opacity: 1;
      visibility: visible; }
    nav .main-menu li.has-submenu::after {
      content: '\f078';
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      color: #2e4157;
      font-size: 10px;
      margin-left: 5px;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      @media (max-width: 991px) {
        nav .main-menu li.has-submenu::after {
          display: none; } }
    nav .main-menu li a {
      color: #2e4157;
      padding: 20px 0;
      font-weight: 500;
      display: inline-block;
      font-size: 16px;
      text-transform: capitalize; }
    @media (min-width: 992px) {
      nav .main-menu li .submenu {
        position: absolute;
        border-top: 2px solid #ffffff;
        border-radius: 5px;
        width: 220px;
        top: 110%;
        left: 0;
        background: var(--blue);
        padding: 10px;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in; }
        nav .main-menu li .submenu li {
          display: block;
          margin-right: initial; }
          nav .main-menu li .submenu li a {
            color: #ffffff;
            display: block;
            padding: 6px;
            width: 100%;
            font-size: 16px; }
      nav .main-menu li:hover.has-submenu::after {
        color: var(--blue); }
      nav .main-menu li:hover a {
        color: var(--blue); }
      nav .main-menu li:hover .submenu {
        top: 100%;
        opacity: 1;
        visibility: visible; } }

.container-wrapper {
  position: relative; }

.mean-container .mean-nav {
  background: #2e4157; }
  .mean-container .mean-nav .meanmenu-reveal {
    color: #2e4157; }
    @media (min-width: 576px) and (max-width: 767.98px) {
      .mean-container .mean-nav .meanmenu-reveal {
        top: -6px; } }
    @media (max-width: 575.98px) {
      .mean-container .mean-nav .meanmenu-reveal {
        top: -8px; } }
    .mean-container .mean-nav .meanmenu-reveal span {
      background: #2e4157; }

/* Header Section */
.header-area .custom_badge, .header-area .user-login {
  color: var(--blue); }

.header-area .custom_badge .badge {
  position: relative;
  right: 6px;
  bottom: -3px;
  border-radius: 50%;
  background: #ff620c;
  width: 15px;
  height: 15px;
  line-height: -10px;
  text-align: center; }

.header-area .user-login {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  margin-right: 10px; }

.logo {
  width: 200px; }
  @media (min-width: 1200px) and (max-width: 1439.98px) {
    .logo {
      width: 120px; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .logo {
      width: 140px; } }
  @media (max-width: 767.98px) {
    .logo {
      width: 100px; } }

/* Footer Section */
/* Breadcrumb Section */
.breadcrumb_section .hero-left {
  padding-right: 25%; }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .breadcrumb_section .hero-left {
      padding-right: 0%; } }
  @media (min-width: 1200px) and (max-width: 1439.98px) {
    .breadcrumb_section .hero-left {
      padding-right: 0%; } }
  @media (min-width: 1440px) and (max-width: 1599.98px) {
    .breadcrumb_section .hero-left {
      padding-right: 10%; } }
  @media (max-width: 991px) {
    .breadcrumb_section .hero-left {
      padding-right: 0; } }

.breadcrumb_section .heading-title {
  font-size: 48px; }

.breadcrumb_section .breadcrumb {
  background: transparent;
  padding: .75rem 0; }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .breadcrumb_section .breadcrumb {
      font-size: 13px; } }

.breadcrumb_section .breadcrumb-item a, .breadcrumb_section .breadcrumb-item {
  color: #ffffff; }
  @media (max-width: 575.98px) {
    .breadcrumb_section .breadcrumb-item a, .breadcrumb_section .breadcrumb-item {
      text-align: center;
      margin: 0 auto; } }

.breadcrumb_section .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #ffffff;
  content: "-"; }

/* Preloader */
.preloader-inner {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .preloader-inner .cancel-preloader {
    position: absolute;
    bottom: 30px;
    right: 30px; }
    .preloader-inner .cancel-preloader a {
      background-color: #ffffff;
      font-weight: 600;
      text-transform: capitalize;
      color: var(--blue);
      width: 200px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      border-radius: 30px;
      display: block;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }
      .preloader-inner .cancel-preloader a:hover {
        background-color: #2e4157;
        color: #ffffff; }

.spinner {
  width: 70px;
  text-align: center; }

.spinner > div {
  width: 15px;
  height: 15px;
  background-color: var(--blue);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/* Button */
.btn1 {
  font-size: 16px;
  padding: 8px 25px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
  border-radius: 5px;
  color: #ffffff;
  overflow: hidden;
  border: 1px solid transparent;
  text-align: center;
  background: var(--blue); }
  .btn1:hover {
    border: 1px solid var(--blue);
    color: var(--blue);
    background: transparent; }

.btn2 {
  border-radius: 30px;
  padding: 8px 30px; }
  .btn2:hover {
    border: 1px solid var(--blue);
    color: var(--blue) !important;
    background: #ffffff !important;
    border: 1px solid transparent; }

.cancle-btn {
  background: #de161e;
  color: #ffffff; }
  .cancle-btn:hover {
    border: 1px solid #de161e;
    background: #ffffff;
    color: #de161e; }

.btn3 {
  background: #ffffff;
  border: 1px solid var(--blue);
  border-radius: 10px !important;
  color: var(--blue);
  font-weight: 700; }
  .btn3:hover {
    background: var(--blue);
    color: #ffffff; }

.border-radius-30 {
  border-radius: 30px; }

/* Form */
.hero-search-box {
  position: relative; }
  .hero-search-box .inputItem {
    width: 100%;
    border-radius: 30px;
    background: #ffffff;
    padding: 10px 130px 10px 30px;
    border: none; }
    @media (max-width: 575.98px) {
      .hero-search-box .inputItem {
        padding: 10px 20px; } }
  .hero-search-box .btn-item {
    padding: 7px 35px;
    border-radius: 30px;
    border: none;
    position: absolute;
    right: 4px;
    bottom: 3px;
    background: var(--blue);
    color: #ffffff; }
    @media (max-width: 575.98px) {
      .hero-search-box .btn-item {
        position: static;
        margin-top: 20px;
        background: #ffffff;
        color: var(--blue);
        width: 100%;
        padding: 10px 20px; } }

/* Theme Default */
.pt-10 {
  padding-top: 10px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-25 {
  padding-top: 25px; }

.pt-30 {
  padding-top: 30px; }

.pt-35 {
  padding-top: 35px; }

.pt-40 {
  padding-top: 40px; }

.pt-45 {
  padding-top: 45px; }

.pt-50 {
  padding-top: 50px; }

.pt-55 {
  padding-top: 55px; }

.pt-60 {
  padding-top: 60px; }

.pt-65 {
  padding-top: 65px; }

.pt-70 {
  padding-top: 70px; }

.pt-75 {
  padding-top: 75px; }

.pt-80 {
  padding-top: 80px; }

.pt-85 {
  padding-top: 85px; }

.pt-90 {
  padding-top: 90px; }

.pt-95 {
  padding-top: 95px; }

.pt-100 {
  padding-top: 100px; }

.pt-105 {
  padding-top: 105px; }

.pt-110 {
  padding-top: 110px; }

.pt-115 {
  padding-top: 115px; }

.pt-120 {
  padding-top: 120px; }

.pt-125 {
  padding-top: 125px; }

.pt-130 {
  padding-top: 130px; }

.pt-135 {
  padding-top: 135px; }

.pt-140 {
  padding-top: 140px; }

.pt-145 {
  padding-top: 145px; }

.pt-150 {
  padding-top: 150px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-25 {
  padding-bottom: 25px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-35 {
  padding-bottom: 35px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-45 {
  padding-bottom: 45px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-55 {
  padding-bottom: 55px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-65 {
  padding-bottom: 65px; }

.pb-70 {
  padding-bottom: 70px; }

.pb-75 {
  padding-bottom: 75px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-85 {
  padding-bottom: 85px; }

.pb-90 {
  padding-bottom: 90px; }

.pb-95 {
  padding-bottom: 95px; }

.pb-100 {
  padding-bottom: 100px; }

.pb-105 {
  padding-bottom: 105px; }

.pb-110 {
  padding-bottom: 110px; }

.pb-115 {
  padding-bottom: 115px; }

.pb-120 {
  padding-bottom: 120px; }

.pb-125 {
  padding-bottom: 125px; }

.pb-130 {
  padding-bottom: 130px; }

.pb-135 {
  padding-bottom: 135px; }

.pb-140 {
  padding-bottom: 140px; }

.pb-145 {
  padding-bottom: 145px; }

.pb-150 {
  padding-bottom: 150px; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mt-35 {
  margin-top: 35px; }

.mt-40 {
  margin-top: 40px; }

.mt-45 {
  margin-top: 45px; }

.mt-50 {
  margin-top: 50px; }

.mt-55 {
  margin-top: 55px; }

.mt-60 {
  margin-top: 60px; }

.mt-65 {
  margin-top: 65px; }

.mt-70 {
  margin-top: 70px; }

.mt-75 {
  margin-top: 75px; }

.mt-80 {
  margin-top: 80px; }

.mt-85 {
  margin-top: 85px; }

.mt-90 {
  margin-top: 90px; }

.mt-95 {
  margin-top: 95px; }

.mt-100 {
  margin-top: 100px; }

.mt-105 {
  margin-top: 105px; }

.mt-110 {
  margin-top: 110px; }

.mt-115 {
  margin-top: 115px; }

.mt-120 {
  margin-top: 120px; }

.mt-125 {
  margin-top: 125px; }

.mt-130 {
  margin-top: 130px; }

.mt-135 {
  margin-top: 135px; }

.mt-140 {
  margin-top: 140px; }

.mt-145 {
  margin-top: 145px; }

.mt-150 {
  margin-top: 150px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-35 {
  margin-bottom: 35px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-45 {
  margin-bottom: 45px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-55 {
  margin-bottom: 55px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-65 {
  margin-bottom: 65px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-75 {
  margin-bottom: 75px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-85 {
  margin-bottom: 85px; }

.mb-90 {
  margin-bottom: 90px; }

.mb-95 {
  margin-bottom: 95px; }

.mb-100 {
  margin-bottom: 100px; }

.mb-105 {
  margin-bottom: 105px; }

.mb-110 {
  margin-bottom: 110px; }

.mb-115 {
  margin-bottom: 115px; }

.mb-120 {
  margin-bottom: 120px; }

.mb-125 {
  margin-bottom: 125px; }

.mb-130 {
  margin-bottom: 130px; }

.mb-135 {
  margin-bottom: 135px; }

.mb-140 {
  margin-bottom: 140px; }

.mb-145 {
  margin-bottom: 145px; }

.mb-150 {
  margin-bottom: 150px; }

.z-index-1000 {
  z-index: 1000; }

.bg-blue {
  background: var(--blue) !important; }

.bg-lite-blue {
  background: #3f73db !important; }

.bg-purple {
  background: #9219f7 !important; }

.bg-deep-purple {
  background: #762cff !important; }

.bg-orange {
  background: #da5f35 !important; }

.bg-chocklet {
  background: #fdfff0 !important; }

.scrollup {
  background: var(--blue);
  color: #ffffff;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  outline: none;
  border: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  z-index: 9999;
  cursor: pointer; }
  .scrollup:hover {
    background: #2e4157; }

.item-rotate {
  -webkit-animation: rotted 5s infinite ease-in-out;
  animation: rotted 5s infinite ease-in-out;
  animation-direction: alternate-reverse; }

@-webkit-keyframes rotted {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(320deg);
    transform: rotate(320deg); } }

@keyframes rotted {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(320deg);
    transform: rotate(320deg); } }

.item-rotate2 {
  -webkit-animation: rotted 6s infinite ease-in-out;
  animation: rotted 6s infinite ease-in-out;
  animation-direction: alternate-reverse; }

@keyframes rotted {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  100% {
    -webkit-transform: rotate(-320deg);
    transform: rotate(-320deg); } }

.item-bounce {
  -webkit-animation: bounce 3s infinite ease-in-out;
  -o-animation: bounce 3s infinite ease-in-out;
  -ms-animation: bounce 3s infinite ease-in-out;
  -moz-animation: bounce 3s infinite ease-in-out;
  animation: bounce 3s infinite ease-in-out; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

.item-zooming {
  -webkit-animation: zooming 3s infinite ease-in-out;
  -o-animation: zooming 3s infinite ease-in-out;
  -ms-animation: zooming 3s infinite ease-in-out;
  -moz-animation: zooming 3s infinite ease-in-out;
  animation: zooming 3s infinite ease-in-out; }

@-webkit-keyframes zooming {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

@keyframes zooming {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); } }

.item-ripple {
  -webkit-animation: ripple 3s infinite ease-in-out;
  -o-animation: ripple 3s infinite ease-in-out;
  -ms-animation: ripple 3s infinite ease-in-out;
  -moz-animation: ripple 3s infinite ease-in-out;
  animation: ripple 3s infinite ease-in-out; }

@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(89, 86, 233, 0.2), 0 0 0 20px rgba(89, 86, 233, 0.2), 0 0 0 40px rgba(89, 86, 233, 0.2);
    box-shadow: 0 0 0 0 rgba(89, 86, 233, 0.2), 0 0 0 20px rgba(89, 86, 233, 0.2), 0 0 0 40px rgba(89, 86, 233, 0.2); }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(89, 86, 233, 0.2), 0 0 0 40px rgba(89, 86, 233, 0.1), 0 0 0 60px rgba(89, 86, 233, 0);
    box-shadow: 0 0 0 20px rgba(89, 86, 233, 0.2), 0 0 0 40px rgba(89, 86, 233, 0.1), 0 0 0 60px rgba(89, 86, 233, 0); } }

@keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(89, 86, 233, 0.2), 0 0 0 20px rgba(89, 86, 233, 0.2), 0 0 0 40px rgba(89, 86, 233, 0.2);
    box-shadow: 0 0 0 0 rgba(89, 86, 233, 0.2), 0 0 0 20px rgba(89, 86, 233, 0.2), 0 0 0 40px rgba(89, 86, 233, 0.2); }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(89, 86, 233, 0.2), 0 0 0 40px rgba(89, 86, 233, 0.1), 0 0 0 60px rgba(89, 86, 233, 0);
    box-shadow: 0 0 0 20px rgba(89, 86, 233, 0.2), 0 0 0 40px rgba(89, 86, 233, 0.1), 0 0 0 60px rgba(89, 86, 233, 0); } }

.item-animateOne {
  -webkit-animation: animateOne 15s infinite ease-in-out;
  -o-animation: animateOne 15s infinite ease-in-out;
  -ms-animation: animateOne 15s infinite ease-in-out;
  -moz-animation: animateOne 15s infinite ease-in-out;
  animation: animateOne 15s infinite ease-in-out; }

@-webkit-keyframes animateOne {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes animateOne {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  50% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.item-animateTwo {
  -webkit-animation: animateTwo 15s infinite ease-in-out;
  -o-animation: animateTwo 15s infinite ease-in-out;
  -ms-animation: animateTwo 15s infinite ease-in-out;
  -moz-animation: animateTwo 15s infinite ease-in-out;
  animation: animateTwo 15s infinite ease-in-out; }

@-webkit-keyframes animateTwo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-50px, 50px);
    transform: translate(-50px, 50px); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes animateTwo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(-50px, 50px);
    transform: translate(-50px, 50px); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

/* Homepage 1 */
.hero-section {
  background: var(--blue);
  border-radius: 30px;
  padding: 80px 110px;
  position: relative;
  overflow: hidden; }
  .hero-section .hero-vec2 {
    position: absolute;
    right: -13%;
    top: -6%;
    width: 122%; }
  @media (max-width: 991px) {
    .hero-section {
      padding: 50px; } }
  .hero-section .sec-vec1 {
    position: absolute;
    width: 150%;
    top: 0;
    left: 0;
    width: 120px;
    z-index: 1; }
  .hero-section .hero-left .heading-title, .hero-section .hero-left .des {
    color: #ffffff; }
  @media (max-width: 991px) {
    .hero-section .heading-title {
      font-size: 48px; } }
  @media (max-width: 575.98px) {
    .hero-section .heading-title {
      font-size: 30px; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .hero-section .heading-title2 {
      font-size: 48px; } }
  @media (max-width: 991px) {
    .hero-section .heading-title2 {
      font-size: 48px; } }
  @media (max-width: 575.98px) {
    .hero-section .heading-title2 {
      font-size: 30px; } }
  @media (max-width: 991px) {
    .hero-section .hero-right {
      margin-top: 30px; } }
  .hero-section .hero-right .common-vec {
    width: 150px;
    position: absolute; }
  .hero-section .hero-right .main_img {
    position: relative;
    z-index: 1; }
    @media (min-width: 1919.99px) {
      .hero-section .hero-right .main_img {
        width: initial; } }

.single-service {
  background: #fefff6;
  padding: 40px;
  border-radius: 25px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .single-service {
      padding: 20px; } }
  @media (max-width: 991px) {
    .single-service {
      padding: 20px; } }
  .single-service .icon {
    width: 120px;
    border-radius: 20px; }
  .single-service .title {
    font-size: 30px;
    color: #2e4157;
    text-transform: capitalize;
    display: block;
    font-weight: 700;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    @media (min-width: 992px) and (max-width: 1199.98px) {
      .single-service .title {
        font-size: 24px; } }
    @media (max-width: 991px) {
      .single-service .title {
        font-size: 24px; } }
    .single-service .title:hover {
      color: var(--blue); }
  .single-service .des {
    text-transform: capitalize;
    display: block;
    font-weight: 700; }
  .single-service:hover {
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1); }

.single-contact-info {
  padding: 30px;
  border-radius: 30px;
  position: relative;
  overflow: hidden; }
  .single-contact-info .contact-vec {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px; }
  .single-contact-info .title {
    font-size: 30px;
    color: #ffffff;
    display: block;
    text-transform: capitalize; }
  .single-contact-info .des {
    font-size: 18px;
    color: #ffffff;
    display: block;
    text-transform: capitalize; }

.error-wrapper .title {
  font-size: 24px; }

/* Faq Page */
.faq-nav-wrapper {
  background: #edf4ff;
  border-radius: 30px;
  padding-bottom: 30px; }
  .faq-nav-wrapper .brand-logo {
    padding: 30px; }
  .faq-nav-wrapper .product-item {
    padding: 10px 30px;
    color: #2e4157;
    font-weight: 700;
    text-transform: capitalize;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .faq-nav-wrapper .product-item .title {
      font-size: 24px;
      display: block; }
    .faq-nav-wrapper .product-item .subtitle {
      font-size: 18px;
      display: block; }
    .faq-nav-wrapper .product-item .product-img {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    .faq-nav-wrapper .product-item:hover {
      background: #ffffff; }
      .faq-nav-wrapper .product-item:hover .product-img {
        margin-left: 10px; }
  .faq-nav-wrapper .product-item.active {
    background: #ffffff; }
    .faq-nav-wrapper .product-item.active .product-img {
      margin-left: 10px; }

.faq-right .accordion-wrapper .card {
  margin-bottom: 20px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 15px 40px 0px rgba(163, 163, 163, 0.15);
  box-shadow: 0px 15px 40px 0px rgba(163, 163, 163, 0.15);
  border: 1px solid #eaeaea;
  border-radius: 10px; }
  .faq-right .accordion-wrapper .card .card-header {
    border: none;
    padding: 0;
    border-radius: 5px;
    background: #edf4ff; }
    .faq-right .accordion-wrapper .card .card-header h6 {
      margin-bottom: 0;
      font-size: 20px; }
      .faq-right .accordion-wrapper .card .card-header h6 a {
        padding: 15px 35px 15px 20px;
        display: block;
        cursor: pointer;
        position: relative;
        color: #2e4157; }
        .faq-right .accordion-wrapper .card .card-header h6 a.collapsed::after {
          content: "\f078"; }
        .faq-right .accordion-wrapper .card .card-header h6 a::after {
          content: "\f077";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          position: absolute;
          right: 15px;
          top: 50%;
          font-size: 18px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          color: #2e4157; }
  .faq-right .accordion-wrapper .card .card-body {
    border-radius: 5px; }
    .faq-right .accordion-wrapper .card .card-body p {
      margin: 0; }

.template-pagination {
  margin-top: 40px;
  position: relative;
  z-index: 11; }
  .template-pagination ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .template-pagination ul li {
      margin-right: 10px; }
      .template-pagination ul li:last-child {
        margin-right: initial; }
      .template-pagination ul li a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        background: #edf4ff;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        color: #2e4157;
        -webkit-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in;
        display: inline-block;
        border-radius: 5px; }
        .template-pagination ul li a.active {
          background: var(--blue);
          color: #ffffff; }
        .template-pagination ul li a:hover {
          background: var(--blue);
          color: #ffffff; }

/* Register Page*/
.regis-title {
  font-size: 48px;
  font-weight: 700;
  text-transform: capitalized;
  line-height: 1; }
  @media (max-width: 767.98px) {
    .regis-title {
      font-size: 30px;
      text-align: center; } }
  .regis-title span {
    color: var(--blue); }

.regis-left label {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px; }

.regis-left .form-group {
  position: relative; }
  .regis-left .form-group .icon {
    position: absolute;
    top: 50px;
    right: 17px;
    color: #2e4157; }
    @media (max-width: 767.98px) {
      .regis-left .form-group .icon {
        top: 40px; } }

.regis-left .form-control {
  background: #edf4ff;
  border: none;
  padding: 30px;
  border-radius: 10px; }
  @media (max-width: 767.98px) {
    .regis-left .form-control {
      padding: 10px; } }

.regis-left .btn {
  padding: 15px;
  border-radius: 10px; }
  @media (max-width: 767.98px) {
    .regis-left .btn {
      padding: 5px; } }

.register-form .reg-vec1,
.register-form .reg-vec2,
.register-form .reg-vec3 {
  position: absolute;
  width: 30px; }

.register-form .reg-vec1 {
  top: 0%;
  left: 0%; }

.register-form .reg-vec2 {
  top: 40%;
  left: 50%; }

.register-form .reg-vec3 {
  bottom: 0%;
  left: 0%; }

/* Ticket Page */
.single-banner {
  position: relative;
  border-radius: 30px;
  padding: 30px; }
  .single-banner .title {
    font-size: 24px;
    font-weight: 400;
    display: block;
    color: #ffffff;
    text-transform: capitalize; }
  .single-banner .subtitle {
    font-size: 16px;
    font-weight: 400;
    display: block;
    color: #ffffff;
    text-transform: capitalize; }
  .single-banner .btn1 {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 8px 20px;
    font-weight: 500; }
    .single-banner .btn1:hover {
      background: #ffffff;
      color: #2e4157;
      border: 1px solid transparent; }
  .single-banner .banner-img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 120px; }
  .single-banner .banner-vec {
    width: 120px;
    position: absolute;
    top: -23px;
    left: 0; }

.token-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 767.98px) {
    .token-menu {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0 10px; } }
  .token-menu li {
    margin-right: 30px; }
    .token-menu li.active a {
      color: var(--blue);
      border-bottom: 1px solid var(--blue); }
    .token-menu li:last-child {
      margin-right: 0; }
    .token-menu li a {
      color: #2e4157;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      text-transform: capitalize;
      font-size: 16px;
      padding: 10px 0;
      display: block;
      border-bottom: 1px solid transparent; }
      .token-menu li a:hover {
        color: var(--blue);
        border-bottom: 1px solid var(--blue); }

.single-ticket-box {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 30px; }
  .single-ticket-box.active {
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.07); }
    .single-ticket-box.active .ticket-top .ticket-no {
      color: var(--blue); }
    .single-ticket-box.active .ticket-top .ticket-icon {
      background: rgba(12, 99, 231, 0.2);
      color: var(--blue); }
    .single-ticket-box.active .ticket-top .timee {
      color: var(--blue); }
    .single-ticket-box.active .ticket-top .sm-menu {
      color: var(--blue); }
  .single-ticket-box .ticket-top .ticket-no {
    color: #2e4157;
    font-weight: 500; }
    @media (max-width: 575.98px) {
      .single-ticket-box .ticket-top .ticket-no {
        margin-bottom: 10px; } }
  .single-ticket-box .ticket-top .ticket-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    background: rgba(146, 25, 247, 0.2);
    color: #9219f7;
    margin-right: 20px; }
    @media (max-width: 767.98px) {
      .single-ticket-box .ticket-top .ticket-icon {
        margin-right: 10px; } }
  .single-ticket-box .title {
    font-size: 24px;
    font-weight: 700;
    display: block; }
  .single-ticket-box .ticket-btm .user-img {
    width: 40px;
    margin-right: 10px; }
  .single-ticket-box .ticket-btm .user-name {
    text-transform: capitalize;
    font-weight: 500; }
  .single-ticket-box .tags {
    margin-right: 20px; }
    .single-ticket-box .tags a {
      color: #2e4157;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      text-transform: capitalize; }
      .single-ticket-box .tags a:hover {
        color: var(--blue); }
  .single-ticket-box .counttte {
    color: #2e4157;
    text-transform: capitalize; }

.timee {
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 20px;
  color: var(--blue); }

.sm-menu-wraper li {
  position: relative; }
  .sm-menu-wraper li:hover .sm-submenu {
    opacity: 1;
    visibility: visible; }

.sm-menu-wraper .sm-menu {
  color: #2e4157; }

.sm-menu-wraper .sm-submenu {
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  top: 110%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .sm-menu-wraper .sm-submenu li {
    line-height: 1.7; }
    .sm-menu-wraper .sm-submenu li a {
      color: #2e4157;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .sm-menu-wraper .sm-submenu li a:hover {
        color: var(--blue); }

/* Contact Page */
.heading-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize; }

.contact-form-wrapper {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 30px; }
  .contact-form-wrapper .btn1 {
    padding: 8px 30px;
    border-radius: 30px; }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .contact-infoo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media (min-width: 1200px) and (max-width: 1439.98px) {
  .contact-infoo {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.contact-infoo .info-icon {
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: var(--blue);
  color: #ffffff;
  display: block;
  margin-right: 15px;
  text-align: center;
  border-radius: 50%; }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .contact-infoo .info-icon {
      margin-bottom: 10px; } }
  @media (min-width: 1200px) and (max-width: 1439.98px) {
    .contact-infoo .info-icon {
      margin-bottom: 10px; } }

.contact-infoo .info-title {
  font-size: 18px;
  color: var(--blue);
  text-transform: capitalize;
  font-weight: 700;
  display: block; }

.contact-infoo .info-subtitle {
  font-size: 16px;
  color: #2e4157;
  text-transform: capitalize;
  font-weight: 400px;
  display: block;
  word-wrap: break-word; }
  @media (min-width: 1200px) and (max-width: 1439.98px) {
    .contact-infoo .info-subtitle {
      padding-right: 10px; } }

.contact-form-box .form-control {
  background: #ffffff; }

/* Ticket Reply*/
.ticket-info {
  background: #edf4ff;
  padding: 30px;
  position: relative;
  border-radius: 20px;
  overflow: hidden; }
  .ticket-info .vec-img {
    width: 120px;
    position: absolute;
    top: -50px;
    right: -10px; }
  .ticket-info .ticket-title {
    color: #2e4157;
    font-weight: 500;
    font-size: 24px; }
    @media (max-width: 575.98px) {
      .ticket-info .ticket-title {
        margin-bottom: 10px; } }
  .ticket-info .ticket-icon {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    background: rgba(146, 25, 247, 0.2);
    color: #9219f7;
    margin-right: 20px;
    font-size: initial; }
    @media (max-width: 767.98px) {
      .ticket-info .ticket-icon {
        margin-right: 10px; } }
  .ticket-info .ticket-info-item .title {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize; }
  .ticket-info .ticket-info-item .info-content {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize; }
  .ticket-info .attachment-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

.contact-form-wrapper .ticket-top .user-img {
  width: 40px;
  margin-right: 10px; }

.contact-form-wrapper .ticket-top .user-name {
  text-transform: capitalize;
  font-weight: 500; }

.contact-form-wrapper .form-control-file {
  padding: 10px 30px;
  border-radius: 10px;
  background: #ffffff; }
  @media (max-width: 575.98px) {
    .contact-form-wrapper .form-control-file {
      padding: 10px; } }

.attachment-box .info-img {
  height: 60px;
  width: 120px; }
  .attachment-box .info-img.small-img {
    width: 50px; }
  @media (min-width: 1600px) and (max-width: 1919.98px) {
    .attachment-box .info-img {
      width: 100px; } }
  @media (min-width: 1440px) and (max-width: 1599.98px) {
    .attachment-box .info-img {
      width: 80px; } }

.display-5{
  font-size: 20px;
}

.pointer-events-none{
  pointer-events: none;
}
