
.question_title {
  text-align: center;
  margin-bottom: 25px;
}
.question_title h3 {
  font-size: 36px;
  font-size: 2.25rem;
  margin-top: 45px;
  color: #333;
}
.question_title p {
  font-size: 15px;
  font-size: 0.9375rem;
  color: #777;
  margin-bottom: 0;
}

a.animated_link {
  position: relative;
  text-decoration: none;
}
a.animated_link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  opacity: 1;
  left: 0;
  background-color: #0073e5;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a.animated_link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a.animated_link.active {
  position: relative;
  text-decoration: none;
  color: #0073e5;
}
a.animated_link.active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  opacity: 1;
  left: 0;
  background-color: #0073e5;
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*General links color*/
a {
  color: #409fff;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}
a:hover, a:focus {
  color: #0073e5;
  text-decoration: none;
  outline: none;
}

/*-------- 1.2 Buttons --------*/
a.btn_1,
.btn_1 {
  border: none;
  color: #fff;
  background: #409fff;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 7px 20px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  line-height: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
a.btn_1:hover,
.btn_1:hover {
  background: #0073e5;
  color: #fff;
}
/*-------- 2.1 Wizard --------*/
.item img{
  width: 140px;
  height: 140px;
}
.item label {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background-color: #fff;
  padding: 45px;
  text-align: center;
  margin-bottom: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  position: relative;
  border: 1px solid #d9e1e6;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #777;
  cursor: pointer;
}
@media (max-width: 991px) {
  .item label {
    padding: 30px;
  }
}
.item label strong {
  text-transform: uppercase;
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  color: #333;
}
.item label:hover {
  -webkit-box-shadow: 0 2px 40px #e0e5f0;
  -moz-box-shadow: 0 2px 40px #e0e5f0;
  box-shadow: 0 2px 40px #e0e5f0;
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  transform: translateY(-3px);
}
.item label img {
  display: block;
  margin: 0 auto 15px;
}
@media (max-width: 767px) {
  .item label img {
    width: 80px;
    height: auto;
  }
}
.item label span {
  border: 4px solid #d9e1e6;
  display: block;
  margin: 0 auto 15px;
  width: 130px;
  height: 130px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  padding: 4px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.item label figure {
  position: relative;
  width: 114px;
  height: 114px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin: 0;
  overflow: hidden;
}
.item label figure img {
  width: 130px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.item input[type=checkbox]:not(old),
.item input[type=radio]:not(old) {
  visibility: hidden;
}
.item input[type=checkbox]:not(old):checked + label,
.item input[type=radio]:not(old):checked + label,
.item input[type=checkbox]:not(old):checked + span + label,
.item input[type=radio]:not(old):checked + span + label {
  display: block;
  border: 1px solid #acd373;
  -webkit-box-shadow: 0 2px 40px #e0e5f0;
  -moz-box-shadow: 0 2px 40px #e0e5f0;
  box-shadow: 0 2px 40px #e0e5f0;
}
.item input[type=checkbox]:not(old):checked + label:before,
.item input[type=radio]:not(old):checked + label:before,
.item input[type=checkbox]:not(old):checked + span + label:before,
.item input[type=radio]:not(old):checked + span + label:before {
  font-family: "fontello";
  content: "\e81b";
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 24px;
  font-size: 1.5rem;
  color: #acd373;
}
.item input[type=checkbox]:not(old):checked + label span,
.item input[type=radio]:not(old):checked + label span,
.item input[type=checkbox]:not(old):checked + span + label span,
.item input[type=radio]:not(old):checked + span + label span {
  border: 4px solid #acd373;
}
.item input[type=checkbox]:not(old):checked + label figure img,
.item input[type=radio]:not(old):checked + label figure img,
.item input[type=checkbox]:not(old):checked + span + label figure img,
.item input[type=radio]:not(old):checked + span + label figure img {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  -moz-transform: translate(-50%, -50%) scale(1.2);
  -ms-transform: translate(-50%, -50%) scale(1.2);
  -o-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
}

.checkbox_questions {
  position: relative;
}
.checkbox_questions span.error {
  left: -5px;
  top: -35px;
}
.checkbox_questions .icheckbox_square-grey {
  margin-right: 10px;
}

.box_general {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: block;
  background-color: #fff;
  padding: 45px;
  border: 1px solid #d9e1e6;
}
@media (max-width: 991px) {
  .box_general {
    padding: 30px;
  }
}

input#website {
  display: none;
}

#wizard_container {
  position: relative;
  min-height: 450px;
}

/* Wizard Buttons*/
button.backward,
button.forward,
button.submit {
  border: none;
  color: #fff;
  padding: 7px 20px;
  text-decoration: none;
  transition: background .5s ease;
  -moz-transition: background .5s ease;
  -webkit-transition: background .5s ease;
  -o-transition: background .5s ease;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  outline: none;
  min-width: 110px;
  text-align: center;
  background: #409fff;
  position: relative;
  font-size: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 1;
  padding: 10px 30px 10px 30px;
}

button.backward {
  color: #333;
  background: #e8e8e8;
  padding: 10px 20px 10px 30px;
}

button.forward,
button.submit {
  padding: 10px 30px 10px 20px;
}

button[disabled] {
  display: none;
}

button.backward:before {
  content: "\34";
  font-family: 'ElegantIcons';
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 18px;
}

button.forward:before {
  content: "\35";
  font-family: 'ElegantIcons';
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 18px;
}

button.submit:before {
  content: "\4e";
  font-family: 'ElegantIcons';
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 18px;
}

.backward:hover,
.forward:hover {
  background: #0073e5;
  color: #fff;
}

#middle-wizard {
  padding: 30px 0 15px 0;
}

#bottom-wizard {
  padding: 30px 0 45px 0;
  text-align: center;
}

.ui-widget-content a {
  color: #222222;
}

.ui-widget-header {
  background: #6C3;
}

.ui-widget-header a {
  color: #222222;
}

.ui-progressbar {
  height: 3px;
  width: 100%;
  position: relative;
  top: -1px;
  z-index: 2;
}

.ui-progressbar .ui-progressbar-value {
  height: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/*-------- 2.2 Success submit --------*/
#success {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 150px;
  margin-top: -120px;
  margin-left: -195px;
  text-align: center;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 45px;
  border: 1px solid #d9e1e6;
  box-sizing: content-box;
}

#success h4 {
  margin: 0;
}

#success h4 span {
  display: block;
  font-size: 24px;
}

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
@-ms-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }
  100% {
    stroke-dashoffset: 480px;
  }
}
.inlinesvg .svg svg {
  display: inline;
}

.icon--order-success svg path {
  -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
  animation: checkmark 0.25s ease-in-out 0.7s backwards;
}

.icon--order-success svg circle {
  -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
  animation: checkmark-circle 0.6s ease-in-out backwards;
}



/*============================================================================================*/
/* 3.  COMMON */
/*============================================================================================*/
/*-------- 3.1 Input forms --------*/
.styled-select {
  width: 100%;
  overflow: hidden;
  height: 44px;
  background: #fff url(../images//arrow_down.svg) no-repeat right center;
  border: 1px solid #d9e1e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.styled-select select {
  background: transparent;
  width: 107%;
  padding: 5px 5px 5px 15px;
  border: 0;
  height: 41px;
  color: #999;
  margin: 0;
  font-weight: 400;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-size: 1rem;
}
.styled-select select:focus {
  color: #555;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.styled-select select::-ms-expand {
  display: none;
}
.styled-select select::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.styled-select select::-webkit-input-placeholder {
  color: #999;
}

input.form-control,
select.form-control,
textarea.form-control {
  background: none;
  background-color: #fff;
  border: 1px solid #d9e1e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #999;
  height: 44px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  padding: 6px 10px 6px 15px;
}

input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
  border-color: #409fff;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #555;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #195196;
  background-color: rgba(28, 93, 171, 0.03);
}

span.error {
  font-size: 12px;
  position: absolute;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  top: -20px;
  left: 15px;
  z-index: 2;
  height: 25px;
  line-height: 1;
  background-color: #e34f4f;
  color: #fff;
  font-weight: normal;
  display: inline-block;
  padding: 6px 8px;
}
span.error:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 6px 6px 0;
  border-color: transparent #e34f4f;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -6px;
  left: 20%;
}

.form-group {
  position: relative;
  margin-bottom: 25px;
}
.form-group span.error {
  left: -5px;
  top: -35px;
}
.form-group .icheckbox_square-grey {
  margin-right: 10px;
}
.form-group.short {
  margin-bottom: 10px;
}

/*Quantity incrementer input */
.qty-buttons {
  position: relative;
  width: 100%;
  height: 38px;
  display: inline-block;
}

input.qty {
  width: 100%;
}

input.qtyminus,
input.qtyplus {
  position: absolute;
  width: 35px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-indent: -9999px;
  top: 2px;
}

input.qtyplus {
  background: url(../images//plus.svg) no-repeat center center;
  right: 35px;
 
}

input.qtyminus {
  background: url(../images//minus.svg) no-repeat center center;
  right: 5px;
}

/* Rounder range slider */
.rounded_slider {
  text-align: center;
}
.rounded_slider p {
  margin-bottom: 0;
  color: #777;
}

.rs-tooltip-text {
  font-family: "Roboto Condensed", Arial, sans-serif !important;
  font-weight: bold;
  font-size: 28px !important;
  color: #333;
}
.rs-tooltip-text:before {
  content: '$';
}

/*** handle types ***/
.rs-handle-dot {
  border: 1px solid #ccc !important;
  padding: 6px;
}
.rs-handle-dot:after {
  border: 1px solid #fff !important;
}

/*** theming - colors ***/
.rs-seperator {
  border: 1px solid #AAAAAA;
}

.rs-border {
  border: 1px solid #fff !important;
}

.rs-path-color {
  background-color: #f4f9ed !important;
}

.rs-range-color {
  background-color: #8ec549 !important;
}

.rs-bg-color {
  background-color: #FFFFFF;
}

.rs-handle {
  background-color: #fff !important;
}

.rs-handle-dot {
  background-color: #FFFFFF;
}

.rs-handle-dot:after {
  background-color: #333 !important;
}

/* Fileupload */
.fileupload {
  position: relative;
  width: 100%;
  font-size: 14px;
  font-size: 0.875rem;
}

input[type=file] {
  border: 1px solid #d9e1e6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  padding: 5px;
  height: auto;
  width: 100%;
  color: #999;
}
input[type=file]:focus {
  box-shadow: none;
  outline: none;
}

input[type=file]::-webkit-file-upload-button, input[type=file].invalid::-webkit-file-upload-button, input[type=file].valid::-webkit-file-upload-button {
  color: #fff;
  font-size: 13px;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 10px 8px 38px;
  font-weight: 600;
  background: #1c5dab url(../images//upload_icon.svg) 8px center no-repeat;
  outline: none;
}
input[type=file]::-webkit-file-upload-button:focus, input[type=file].invalid::-webkit-file-upload-button:focus, input[type=file].valid::-webkit-file-upload-button:focus {
  box-shadow: none;
  outline: none;
}

/*-------- 3.2 Spacing --------*/
.add_bottom_15 {
  margin-bottom: 15px;
}

.add_bottom_30 {
  margin-bottom: 30px;
}

.add_bottom_45 {
  margin-bottom: 45px;
}

.add_bottom_60 {
  margin-bottom: 60px;
}

.add_bottom_75 {
  margin-bottom: 75px;
}

.add_top_10 {
  margin-top: 10px;
}

.add_top_15 {
  margin-top: 15px;
}

.add_top_20 {
  margin-top: 20px;
}

.add_top_30 {
  margin-top: 30px;
}

.add_top_60 {
  margin-top: 60px;
}

.more_padding_left {
  padding-left: 40px;
}
@media (max-width: 767px) {
  .more_padding_left {
    padding-left: 0;
  }
}

.nomargin_top {
  margin-top: 0;
}

.nopadding {
  margin: 0 !important;
  padding: 0 !important;
}

.nomargin {
  margin: 0 !important;
}

.margin_60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.margin_60_35 {
  padding-top: 60px;
  padding-bottom: 35px;
}
@media (max-width: 575px) {
  .margin_60_35 {
    padding-top: 30px;
    padding-bottom: 5px;
  }
}

.margin_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 991px) {
  .margin_120 {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media (max-width: 575px) {
  .margin_120 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.margin_120_95 {
  padding-top: 120px;
  padding-bottom: 95px;
}
@media (max-width: 991px) {
  .margin_120_95 {
    padding-top: 60px;
    padding-bottom: 35px;
  }
}
@media (max-width: 575px) {
  .margin_120_95 {
    padding-top: 30px;
    padding-bottom: 5px;
  }
}

.margin_120_0 {
  padding-top: 120px;
}
@media (max-width: 991px) {
  .margin_120_0 {
    padding-top: 60px;
  }
}
@media (max-width: 575px) {
  .margin_120_0 {
    padding-top: 30px;
  }
}

.margin_30_95 {
  padding-top: 30px;
  padding-bottom: 95px;
}
@media (max-width: 991px) {
  .margin_30_95 {
    padding-top: 15px;
    padding-bottom: 35px;
  }
}
@media (max-width: 575px) {
  .margin_30_95 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (max-width: 991px) {
  .hidden_tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden_mobile {
    display: none !important;
  }
}
