/* Write your CSS code here */

.fixed-at-bottom {
    position: fixed;
    bottom: 0;
    z-index: 999;
    cursor: pointer;
}

.bg-dark{
    background-image: linear-gradient(to right, #141E30 0%, #243B55 51%, #141E30 100%);
}

.fixed-at-bottom:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}